@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .btn-purple {
        @apply h-10 w-60 mx-auto bg-slate-300 font-semibold text-slate-700 rounded-3xl transition duration-300;
    }
    .btn-purple:hover {
        @apply bg-slate-700 text-slate-300;
    }
    .btn-purple:focus,
    .btn-purple:active {
        @apply bg-slate-700 text-slate-300;
    }
    .card {
        @apply bg-white rounded-3xl shadow-lg shadow-slate-300 flex flex-col items-center text-center p-6;
    }
}

.modal-overlay.hidden {
    display: none;
}

.modal-overlay.flex {
    display: flex;
}

.bg-silver-custom {
    background: #8e9eab;
    background: -webkit-linear-gradient(to left, #eef2f3, #8e9eab);
    background: linear-gradient(to left, #eef2f3, #8e9eab);
}

/* PoltawskiNowy - SemiBold */
@font-face {
  font-family: 'PoltawskiNowy';
  src: url('/fonts/PoltawskiNowy-SemiBold.woff2') format('woff2'),
       url('/fonts/PoltawskiNowy-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* PoltawskiNowy - Italic */
@font-face {
  font-family: 'PoltawskiNowy';
  src: url('/fonts/PoltawskiNowy-Italic.woff2') format('woff2'),
       url('/fonts/PoltawskiNowy-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

/* Roboto - Semibold (600) */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-stretch: 100%;
  src: url('/fonts/Roboto-SemiBold.woff2') format('woff2'),
       url('/fonts/Roboto-SemiBold.ttf') format('truetype');
  font-display: swap;
}

/* Space Grotesk - Bold (700) */
@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  src: url('/fonts/SpaceGrotesk-Bold.woff2') format('woff2'),
       url('/fonts/SpaceGrotesk-Bold.ttf') format('truetype');
  font-display: swap;
}