---
import Layout from '../layouts/Layout.astro';
import data from '../data/event.json';
import Hero from '../components/Hero.astro';
import Countdown from '../components/Countdown.astro';
import Carousel from '../components/Carousel.astro';
import Cards from '../components/Cards.astro';
import Gifts from '../components/Gifts.astro';
import SocialMedia from '../components/SocialMedia.astro';
import 'remixicon/fonts/remixicon.css';
import Footer from '../components/Footer.astro';
import Modal from '../components/Modal.astro';
import Fest from '../components/Fest.astro';
import Video from '../components/Video.astro';
import Subtitle from '../components/Subtitle.astro';
import MusicButton from '../components/MusicButton.astro';
import ModalInit from '../components/ModalInit.astro';
import FinalSection from '../components/FinalSection.astro';
---

<Layout titletop={data.titletop}>
	<!-- todo creo que hay que cambiar el icono, quedaria mejor una nota musical -->
	<MusicButton />
	<!-- todo ver ubicacion de elementos en base a la foto de flor -->
	<Hero />

	<!-- todo agrandar comillas en pantallas de celu -->
	<!-- todo cambiar frase -->
	<section class="px-4 overflow-x-auto my-10">
		<Subtitle />
	</section>

	<!-- todo cambiar tipofrafía -->
	<section class="relative flex flex-col justify-center items-center space-y-4 my-10 text-white min-h-[500px] w-full">
		
		<!-- Fondo -->
		<!-- <div class="absolute inset-0 bg-[url('/images/disco.webp')] bg-cover bg-center grayscale brightness-50" data-background></div> -->
		 <div class="absolute inset-0 bg-cover bg-center grayscale brightness-50" data-background style="background-image: url('/images/disco.webp'); background-attachment: fixed;"></div>
		
		<!-- Centro oscuro -->
		<div class="absolute inset-0 z-0 flex items-center justify-center pointer-events-none">
			<div class="w-[60%] h-[60%] bg-black/60 rounded-full blur-3xl"></div>
		</div>

		<!-- Contador de tiempo faltante para la fiesta -->
		<div class="relative z-10 text-center flex flex-col gap-6">
			<Countdown />
		</div>
		 
	</section>

	<!-- Sección fiesta -->
	<section class="relative">
		<Fest />
	</section>
	
	<!-- Sección Galería -->
	<section class="my-10">
		<Carousel />
	</section>
	
	<!-- todo falta acomodar las img para cada modal -->
	<!-- Sección Cards -->
	<section class="my-10">
		<Cards />
	</section>

	<!-- todo falta el modal -->
	<!-- Sección Gifts -->
	<section class="relative my-10">
		<Gifts />
	</section>

	<!-- todo falta link a carpeta -->
	<!-- Sección Social Media -->
	<section class="my-10">
		<SocialMedia />
	</section>

	<section class="relative w-full h-[80vh] flex items-center justify-center overflow-hidden text-white">
		<Video />
	</section>
	
	<FinalSection />
	<Footer />
</Layout>

