---
import Layout from '../layouts/Layout.astro';
import data from '../data/event.json';
import Hero from '../components/Hero.astro';
import Countdown from '../components/Countdown.astro';
import Carousel from '../components/Carousel.astro';
import Cards from '../components/Cards.astro';
import Gifts from '../components/Gifts.astro';
import SocialMedia from '../components/SocialMedia.astro';
import 'remixicon/fonts/remixicon.css';
import Footer from '../components/Footer.astro';
import Modal from '../components/Modal.astro';
import Fest from '../components/Fest.astro';
---

<Layout titletop={data.titletop}>
	<Hero />

	<section class="px-4 overflow-x-auto my-10">
		<div class="flex flex-col justify-between items-center">
			<img src="images/comillas1.png" class="w-[30%] h-[30%]" alt="Comillas">
			<h3 class="text-center text-3xl md:text-4xl text-black px-4">{data.subtitle}</h3>
			<img src="images/comillas2.png" class="w-[30%] h-[30%] mt-2" alt="Comillas">
		</div>
		
	</section>

	<section class="relative flex flex-col justify-center items-center space-y-4 my-10 text-white min-h-[500px] w-full">
		
		<!-- Fondo -->
		<div class="absolute inset-0 bg-[url('/images/disco.webp')] bg-cover bg-center grayscale brightness-50"></div>
		
		<!-- Centro oscuro -->
		<div class="absolute inset-0 z-0 flex items-center justify-center pointer-events-none">
			<div class="w-[60%] h-[60%] bg-black/60 rounded-full blur-3xl"></div>
		</div>

		<!-- Contador de tiempo faltante para la fiesta -->
		<div class="relative z-10 text-center flex flex-col gap-6">
			<Countdown />
		</div>
		 
	</section>

	<!-- Sección fiesta -->
	<section class="relative">
		<Fest />
	</section>
	
	<!-- Sección Galería -->
	<section class="my-10">
		<Carousel />
	</section>
	
	
	<!-- Sección Cards -->
	<section class="my-10">
		<Cards />
	</section>

	<!-- Sección Gifts -->
	<section class="relative my-10">
		<Gifts />
	</section>

	<!-- Sección Social Media -->
	<section>
		<SocialMedia />
		<hr class="h-1 w-[75%] mx-auto opacity-20 bg-slate-800 my-5">
	</section>

	<section>
		<div class="flex flex-col justify-center items-center">
			<h3 class="text-slate-500 text-lg mb-5 text-center px-4">Tu presencia en esta noche nunca la olvidaré</h3>
			<img 
				src={data.mainImage} 
				alt="Foto principal" 
				class="object-cover rounded-md w-[70%] h-[70%] md:w-[40%] md:h-[40%] lg:w-[30%] lg:h-[30%]"
				/>
	  
				<div class="flex flex-row justify-center my-5 px-4 gap-1">
					<h3 class="text-slate-800 text-2xl font-roboto font-bold">Te espero</h3>
					<i class="ri-heart-3-fill text-red-500"></i>
				</div>
			
		</div>
		<hr class="h-1 w-[75%] mx-auto opacity-20 bg-slate-800 my-5">
	</section>
	
	<Footer />
</Layout>