---
import Layout from '../layouts/Layout.astro';
import data from '../data/event.json';
import Hero from '../components/Hero.astro';
import Countdown from '../components/Countdown.astro';
import Carousel from '../components/Carousel.astro';
import Cards from '../components/Cards.astro';
import Gifts from '../components/Gifts.astro';
import SocialMedia from '../components/SocialMedia.astro';
import Footer from '../components/Footer.astro';
import Fest from '../components/Fest.astro';
import Video from '../components/Video.astro';
import Subtitle from '../components/Subtitle.astro';
import MusicButton from '../components/MusicButton.astro';
import ModalInit from '../components/ModalInit.astro';
import FinalSection from '../components/FinalSection.astro';
export const prerender = false;

type InvitationType = 'cena' | 'brindis';

const Codes: Record<string, InvitationType> = {
  b: 'brindis',
  c: 'cena'
};

const url = new URL(Astro.request.url);
const invitationCode = url.searchParams.get('t') || 'c';
const invitationType = Codes[invitationCode] || 'cena';
---

<Layout titletop={data.titletop}>
	<ModalInit />
	<MusicButton />
	<audio id="background-music" src="/music.mp3" loop preload="auto"></audio>
	
	<Hero />

	<section class="px-4 overflow-x-auto my-10">
		<Subtitle />
	</section>

	<!-- todo averiguar como hacer el parallax para el scroll, ya que en IOS mobile no funciona -->
	<section class="relative flex flex-col justify-center items-center space-y-4 my-10 text-white min-h-[500px] w-full">
		
		<!-- Fondo -->
		<!-- <div class="absolute inset-0 bg-cover bg-center bg-fixed grayscale brightness-50" data-background style="background-image: url('/images/disco.webp');"></div> -->
		<div class="absolute inset-0 bg-cover bg-center grayscale brightness-50" data-background style="background-image: url('/images/disco.webp');"></div>
  		<!-- <div class="absolute inset-0 bg-fixed bg-parallax bg-center bg-cover grayscale brightness-50"> -->

		<!-- Centro oscuro -->
		<div class="absolute inset-0 z-0 flex items-center justify-center pointer-events-none">
			<div class="w-[60%] h-[60%] bg-black/60 rounded-full blur-3xl"></div>
		</div>

		<!-- Contador de tiempo faltante para la fiesta -->
		<div class="relative z-10 text-center flex flex-col gap-6">
			<Countdown />
		</div>
	</section>

	<!-- Sección fiesta -->
	<section class="relative">
		<Fest isBrindis={invitationType === 'brindis'} />
	</section>
	
	<!-- Sección Galería -->
	<section class="my-10">
		<Carousel />
	</section>
	
	<!-- Sección Cards -->
	<section class="my-10">
		<Cards />
	</section>

	<!-- Sección Gifts -->
	<section class="relative my-10">
		<Gifts />
	</section>

	<!-- todo falta link a carpeta -->
	<!-- Sección Social Media -->
	<section class="my-10">
		<SocialMedia />
	</section>

	<section class="w-full max-h-[100vh]">
		<video
			class="w-full h-auto object-cover"
			autoplay
			muted
			loop
			playsinline
		>
			<source src="/videos/fest15.mp4" type="video/mp4" />
			Tu navegador no soporta videos HTML5.
		</video>
	</section>
	
	<FinalSection />
	<Footer />
</Layout>