---
import data from '../data/event.json';
---

<h3 class="text-5xl font-poltawskinowy text-white">Faltan</h3>
<div id="countdown" data-eventdate={data.cena.eventDate} class="flex gap-2 sm:gap-4 flex-wrap justify-center text-white">
<!-- Se llena con JS -->
</div>

<script type="module">
  const container = document.getElementById("countdown");
  const dateStr = container.dataset.eventdate;
  
  const targetDate = new Date(dateStr);

  function updateCountdown() {
    const now = new Date();
    let diff = targetDate.getTime() - now.getTime();

    const days = Math.floor(diff / (1000 * 60 * 60 * 24));
    const hours = Math.floor((diff / (1000 * 60 * 60)) % 24);
    const minutes = Math.floor((diff / (1000 * 60)) % 60);
    const seconds = Math.floor((diff / 1000) % 60);

    const data = [
      { label: "Días", value: days },
      { label: "Horas", value: hours },
      { label: "Min", value: minutes },
      { label: "Seg", value: seconds },
    ];

    const container = document.getElementById("countdown");
    if (container) {
    container.innerHTML = data.map(item => `
      <div class="flex flex-col items-center justify-center w-20 h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 rounded-md border border-white bg-white/10 backdrop-blur">
        <span class="text-2xl sm:text-3xl md:text-4xl font-bold">${item.value}</span>
        <span class="text-xs sm:text-sm md:text-md capitalize">${item.label}</span>
      </div>
    `).join('');
    }
  }

  updateCountdown();
  setInterval(updateCountdown, 1000);
</script>

<style>
  @keyframes fade-in {
    0% { opacity: 0; transform: translateY(10px); }
    100% { opacity: 1; transform: translateY(0); }
  }
  .animate-fade-in {
    animation: fade-in 0.5s ease-in-out;
  }
</style>
