---
const title = "¡Te espero!";
---

<section class="w-full min-h-[40vh] flex items-center justify-center text-black text-center px-4">
  <div class="max-w-3xl mx-auto">
    <h2 class="text-4xl md:text-5xl font-bold mb-4 text-slate-700"> {title} </h2>
  </div>
</section>