<footer class="bg-gray-800 text-white py-6 mt-12">
    <div class="container mx-auto flex flex-col md:flex-row justify-center items-center space-y-4 md:space-y-0 md:space-x-4 p-10">
      <!-- Nombre de la Marca -->
      <div class="text-xl font-bold">
        <span class="text-purple-500">TuMomento</span>
      </div>
      
        <!-- Instagram -->
        <a href="https://instagram.com" target="_blank" class="p-2 bg-purple-500 hover:bg-purple-700 rounded-full">
          <i class="ri-instagram-line text-white"></i>
        </a>
    </div>
  </footer>