<div class="flex flex-col items-center justify-center my-5">
    <h1 class="font-lobster font-semibold text-3xl text-purple-500 mb-3">Regalos</h1>
    <h4 class="text-slate-500 text-lg mb-2 text-center px-4">Si deseas regalarme algo más que tu hermosa presencia...</h4>
    <img src="/images/Magic Box.gif" alt="Gif de caja de regalo" class="w-20 h-20 mb-4">
    <button class="btn-purple">Ver sobre virtual</button>
</div>