<div class="absolute inset-0 bg-[url('/images/cieloconestrellas.webp')] bg-cover bg-center grayscale brightness-50" data-background></div>
<div class="relative z-10 flex flex-col justify-center items-center gap-4 p-10">
<!-- <div class="flex flex-col items-center justify-center my-5"> -->
    <h1 class="font-roboto font-semibold text-3xl text-white mb-3">Regalos</h1>
    <h4 class="text-white text-lg mb-2 text-center px-4">Si deseas regalarme algo más que tu hermosa presencia...</h4>
    <img src="/images/Magic Box.gif" alt="Gif de caja de regalo" class="w-20 h-20 mb-4">
    <button class="btn-purple">Número de CBU</button>
</div>