---
import data from '../data/event.json';

const eventDate = new Date(data.cena.eventDate).toLocaleDateString("es-ES", {
    day: "2-digit",
    month: "2-digit",
    year: "numeric",
  }).replace(/\//g, ".");
---
<section class="relative w-full min-h-screen flex items-end justify-center bg-center bg-cover md:bg-contain" style={`background-image: url(${data.mainImage})`}>
  <!-- Overlay -->
  <div class="absolute inset-0 bg-gradient-to-t from-black/50 via-black/40 to-transparent"></div>

  <div class="relative z-10 text-center space-y-5">
    <div class="flex flex-row justify-between items-center gap-4 mt-10">
      <hr class="h-[40%] w-[25%] mx-auto bg-white">
      <h3 class="text-2xl sm:text-3xl font-grotesk text-white">{eventDate}</h3>
      <hr class="h-[40%] w-[25%] mx-auto bg-white">
    </div>

    <div>
      <h1 class="text-5xl sm:text-7xl font-poltawskinowy text-white mb-2">{data.title}</h1>
      <h2 class="text-3xl sm:text-4xl font-grotesk text-white">{data.eventTitle}</h2>
    </div>

    <hr class="h-[40%] w-[100%] mx-auto bg-white">

    <div class="flex justify-center p-10">
      <img 
        src="images/flechas.webp" 
        alt="Gif de flechas" 
        class="h-[25%] w-[25%] -rotate-90"
        loading="lazy"
      />
    </div>
  </div>
</section>