<button id="music-control" class="fixed bottom-10 right-5 sm:right-10 
  ${show ? 'hidden' : ''}
    bg-slate-300 text-black rounded-full p-4 opacity-60 sm:opacity-80
    shadow-lg 
    drop-shadow-[0_5px_10px_rgba(0,0,0,0.2)] 
    transition duration-300 ease-in-out 
    transform hover:scale-110 hover:shadow-2xl 
    flex justify-center items-center"
    aria-label="Control de música"> 
	<img src="images/play.png" class="w-5 h-5 sm:w-6 sm:h-6 object-cover opacity-60 sm:opacity-80" alt="Icono de play">
</button>