---
import data from '../data/event.json';
---
<div class="flex flex-col items-center justify-center my-5">
    <h1 class="font-roboto font-semibold text-3xl text-black mb-3 mx-8 sm:mx-auto text-center">Fotos</h1>
    <h4 class="text-slate-500 text-lg mb-2 text-center px-4 mx-8 sm:mx-auto">Si sacas fotos durante la noche, te invitamos a compartirlas acá para que todos podamos revivir esos recuerdos juntos.</h4>
    <img src="/images/Social media.gif" alt="Gif de caja de regalo" class="w-20 h-20 mb-4">
    <button class="btn-purple">Carpeta</button>
</div>