<!-- Video de fondo -->
<video autoplay muted loop playsinline class="object-cover">
    <source src="/videos/fest15.mp4" type="video/mp4" />
    Tu navegador no soporta videos HTML5.
</video>

<!-- Capa oscura -->
<!-- <div class="absolute inset-0 bg-black/30"></div> -->