---
import '../styles/global.css';
import Analytics from '@vercel/analytics/astro'
interface Props {
	titletop: string;
}
const { titletop } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/diamond.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>{titletop}</title>
	</head>
	<body class="font-sans">
		<slot />
		<Analytics />
		<script src="../scripts/audioControl.js"></script>
	</body>
</html>

